/* Elaborado por: Hernán Felipe Serna Gómez
   Curso: Font-end I
   Digital House*/

/*Selectores de clase*/

.capa-degradado{
    min-height: 20%;
    /*background-color:rgba(0,0,0,0.2);*/
    background: linear-gradient(180deg,rgba(170, 170, 170, 0),rgba(56, 54, 54, 0.6));
}

.enlaces{
    text-decoration: none;
    color: black; 
    font-family: 'Times New Roman', Times, serif;
    padding-left: 0;
}

.icono{
    color: rgb(87, 85, 85);
    margin-right: 10px;
}

.imagen-fondo{
    padding-top: 0px;
    color: white;
    background-attachment: scroll;
    background-image: url('../img/lemon-pie.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: -300px;
}

.instrucciones{
    margin-left:25px;
}

.merengue{
    color: rgb(228,108,0);
    text-decoration: underline;
}

.titulo-encabezado{
    padding-top: 25%;
}

/*Selectores de etiqueta*/

body{
    margin: 0px;
    margin-top: 8px;
    font-family: "Lato";
    font-size:16px;
}

footer{
    background-color: rgb(187,183,183);
    text-align: center;
    line-height: 50px;
    margin: 0px;
}

h3{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

header{
    padding-left: 8px;
}

nav{
    padding-bottom: 20px;
}

nav ul{
    padding-left: 0px;
}

section{
    padding-left: 8px;
}

ul{
    list-style-type: none;
}
