/* Elaborado por: Hernán Felipe Serna Gómez
   Curso: Font-end I
   Digital House
   Cards Superheroes*/

   @import url('./generic.css');

.top-bar{
    background: #1CD1B0;
    color: 
}

.card{
    position: absolute;
    width: 700px;
    height: 406.63px;
    left: 610px;
    top: 297px;

}

.bg-batman{
    background-image: url('../img/bg-batman.jpg');
}

footer{
    position: absolute;
    width: 2056px;
    height: 162px;
    left: -136px;
    top: 3949px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
