/*  Elaborado por: Hernán Felipe Serna Gómez
    Curso: Font-end I
    Digital House
    Cards Superheroes (clase 9)*/

/*  Estilos aplicados a los elementos tipo cards del proyecto*/

.face-img{
    border-radius: 100%;
    width: 120px;
}