/*  Elaborado por: Hernán Felipe Serna Gómez
    Curso: Font-end I
    Digital House
    Cards Superheroes (clase 9)*/

/*  Estilos aplicados de manera genérica a todo
    el documento HTML y variables de estilo*/

/*Fuentes de tipografía: Karla (400,700), Roboto (400) e Inter (700)*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
/*Iconos de Font-Awesome*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
  --color-azul-oscuro: #001d2d;
  --color-azul-rey: #00669f;
  --color-blanco: #ffffff;
  --color-fondo: #e5e5e5;
  --color-gris-oscuro: #616060;
  --color-gris-palido: #f3f3f3;
  --color-negro: #000000;
  --color-rojo: #cc2424;
  --color-verde: #1cd1b0;
  --tipografia-Karla: "Karla", sans-serif;
  --tipografia-Roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--tipografia-Roboto);
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
