/*  Elaborado por: Hernán Felipe Serna Gómez
    Curso: Font-end I
    Digital House
    Cards Superheroes (clase 9)*/

/*  Estilos aplicados al login*/

body{
  justify-content:space-between;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 21% 26%;
  max-width: 620px;
  font-family: "Karla";
}

#login-form > h2 {
  font-family: "Inter";
  font-size: 53px;
  color: var(--color-negro-mate);
}

#login-form > form > input {
  width: 100%;
  margin: 20px 0px;
  border: 1.5px solid;
  padding: 17px 0px 17px 20.92px;
}

#login-form > form > input[type="submit"]:hover {
  background-color: var(--color-azul-oscuro);
  color: var(--color-blanco);
}

#login-form > form > input::placeholder {
  font-weight: 400;
  font-size: 20px;
  margin: 16.53px 26.93px 17.47px;
}

#login-form > form > input[type="submit"] {
  background-color: var(--color-verde);
  border: none;
  font-weight: 700;
  border-radius: 23px;
}